/* Загальні стилі для контейнера додатка */
/* body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}*/

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}

.search-box {
  margin-top: 20px;
  p {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.search-box input {
  width: 100%;
}

.contact-list {
  margin-top: 20px;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: flex-start; */
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-item h3 {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.contact-item p {
  font-size: 0.9rem;
  /* font-weight: bold; */
  margin: 0;
}

.contact-item button {
  margin-top: 10px;
  max-width: fit-content;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.contact-item button:hover {
  background-color: #c0392b;
}

.my-icon {
  margin-right: 10px;
}
